<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StatusUpdateFileFolder" value="C:\Temp\StatusUpdate\"/>
    <add key="StatusUpdateSuccessFolder" value="C:\Temp\StatusUpdate\Success"/>
    <add key="StatusUpdateFailureFolder" value="C:\Temp\StatusUpdate\Failure"/>

    <add key="DataFreightFileFolder" value="C:\Temp\DataFreight\"/>
    <add key="DataFreightSuccessFolder" value="C:\Temp\DataFreight\Success"/>
    <add key="DataFreightFailureFolder" value="C:\Temp\DataFreight\Failure"/>

    <add key="EventLogSource" value ="Action Intl Interface Service"/>
  </appSettings>
</configuration>